textarea#env_vars {
	height: 20em;
	font-size: small;
	font-family: monospace;
}

span#username {
	float: right;
}

ul#fork_me {
	display: none;
}

.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
